[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "==2.6.3"
pandas = "==1.3.4"
pyshp = "==2.1.3"
python-dotenv = "==0.19.2"
tk = "==0.1.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
